In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
inspector = inspect(engine)

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
Measurement.__table__.__dict__

{'dispatch': <sqlalchemy.event.base.DDLEventsDispatch at 0x1851b2c4248>,
 'name': 'measurement',
 'fullname': 'measurement',
 '_columns': <sqlalchemy.sql.base.ColumnCollection at 0x1851b2d4a20>,
 'primary_key': PrimaryKeyConstraint(Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False)),
 'foreign_keys': set(),
 'metadata': MetaData(bind=None),
 'schema': None,
 'indexes': set(),
 'constraints': {PrimaryKeyConstraint(Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False))},
 'columns': <sqlalchemy.sql.base.ImmutableColumnCollection at 0x1851b2ef8b8>,
 '_extra_dependencies': set(),
 'implicit_returning': True,
 'comment': None,
 '_prefixes': [],
 'dialect_kwargs': <sqlalchemy.sql.base._DialectArgView at 0x185180c20b8>,
 'dialect_options': {},
 'description': 'measurement'}

In [11]:
Station.__table__.__dict__

{'dispatch': <sqlalchemy.event.base.DDLEventsDispatch at 0x1851b2c47c8>,
 'name': 'station',
 'fullname': 'station',
 '_columns': <sqlalchemy.sql.base.ColumnCollection at 0x1851b2d4400>,
 'primary_key': PrimaryKeyConstraint(Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False)),
 'foreign_keys': set(),
 'metadata': MetaData(bind=None),
 'schema': None,
 'indexes': set(),
 'constraints': {PrimaryKeyConstraint(Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False))},
 'columns': <sqlalchemy.sql.base.ImmutableColumnCollection at 0x1851b3018b8>,
 '_extra_dependencies': set(),
 'implicit_returning': True,
 'comment': None,
 '_prefixes': [],
 'dialect_kwargs': <sqlalchemy.sql.base._DialectArgView at 0x1851b2d42e8>,
 'dialect_options': {},
 'description': 'station'}

In [12]:
measurement_columns = inspector.get_columns('Measurement')
for column in measurement_columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [13]:
station_columns = inspector.get_columns('Station')
for column in station_columns:
    print(column['name'], column['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [14]:
engine.execute('SELECT * FROM Measurement LIMIT 10').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0),
 (6, 'USC00519397', '2010-01-07', 0.06, 70.0),
 (7, 'USC00519397', '2010-01-08', 0.0, 64.0),
 (8, 'USC00519397', '2010-01-09', 0.0, 68.0),
 (9, 'USC00519397', '2010-01-10', 0.0, 73.0),
 (10, 'USC00519397', '2010-01-11', 0.01, 64.0)]

In [27]:
engine.execute('SELECT * FROM Station LIMIT 100').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [16]:
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [17]:
qryMaxDate = []
for i in session.query(Measurement.date).order_by(Measurement.date.desc()).first():
    qryMaxDate.append(i)

qryMaxDate = str(qryMaxDate)

# print(len(qryMaxDate))
# print(qryMaxDate)

max_year = int(qryMaxDate[2:6])
max_mo = int(qryMaxDate[7:9])
max_day = int(qryMaxDate[10:12])

# print(max_year)
# print(max_mo)
# print(max_day)

In [18]:
# Calculate the date 1 year ago from the last data point in the database
max_date_less_yr = dt.date(max_year, max_mo, max_day) - dt.timedelta(days=365)
max_date_less_yr

datetime.date(2016, 8, 23)

In [24]:
conn = engine.connect()
Measurement_df = pd.read_sql('SELECT * FROM Measurement', conn)
Measurement_df.head(100)

     id      station        date  prcp  tobs
0     1  USC00519397  2010-01-01  0.08  65.0
1     2  USC00519397  2010-01-02  0.00  63.0
2     3  USC00519397  2010-01-03  0.00  74.0
3     4  USC00519397  2010-01-04  0.00  76.0
4     5  USC00519397  2010-01-06   NaN  73.0
5     6  USC00519397  2010-01-07  0.06  70.0
6     7  USC00519397  2010-01-08  0.00  64.0
7     8  USC00519397  2010-01-09  0.00  68.0
8     9  USC00519397  2010-01-10  0.00  73.0
9    10  USC00519397  2010-01-11  0.01  64.0
10   11  USC00519397  2010-01-12  0.00  61.0
11   12  USC00519397  2010-01-14  0.00  66.0
12   13  USC00519397  2010-01-15  0.00  65.0
13   14  USC00519397  2010-01-16  0.00  68.0
14   15  USC00519397  2010-01-17  0.00  64.0
15   16  USC00519397  2010-01-18  0.00  72.0
16   17  USC00519397  2010-01-19  0.00  66.0
17   18  USC00519397  2010-01-20  0.00  66.0
18   19  USC00519397  2010-01-21  0.00  69.0
19   20  USC00519397  2010-01-22  0.00  67.0
20   21  USC00519397  2010-01-23  0.00  67.0
21   22  USC00519397  2010-01-24  0.01  71.0
22   23  USC00519397  2010-01-25  0.00  67.0
23   24  USC00519397  2010-01-26  0.04  76.0
24   25  USC00519397  2010-01-27  0.12  68.0
25   26  USC00519397  2010-01-28  0.00  72.0
26   27  USC00519397  2010-01-30   NaN  70.0
27   28  USC00519397  2010-01-31  0.03  67.0
28   29  USC00519397  2010-02-01  0.01  66.0
29   30  USC00519397  2010-02-03   NaN  67.0
..  ...          ...         ...   ...   ...
70   71  USC00519397  2010-03-23  0.00  68.0
71   72  USC00519397  2010-03-24  0.00  74.0
72   73  USC00519397  2010-03-26   NaN  72.0
73   74  USC00519397  2010-03-27  0.00  72.0
74   75  USC00519397  2010-03-28  0.00  73.0
75   76  USC00519397  2010-03-29  0.00  74.0
76   77  USC00519397  2010-03-30  0.00  73.0
77   78  USC00519397  2010-03-31  0.00  73.0
78   79  USC00519397  2010-04-01  0.00  74.0
79   80  USC00519397  2010-04-02  0.01  74.0
80   81  USC00519397  2010-04-03  0.17  74.0
81   82  USC00519397  2010-04-04  0.15  71.0
82   83  USC00519397  2010-04-05  0.27  72.0
83   84  USC00519397  2010-04-06  0.01  75.0
84   85  USC00519397  2010-04-08  0.00  75.0
85   86  USC00519397  2010-04-09  0.01  75.0
86   87  USC00519397  2010-04-10  0.00  75.0
87   88  USC00519397  2010-04-11  0.01  73.0
88   89  USC00519397  2010-04-12  0.01  73.0
89   90  USC00519397  2010-04-13  0.00  71.0
90   91  USC00519397  2010-04-15  0.00  71.0
91   92  USC00519397  2010-04-16  0.01  68.0
92   93  USC00519397  2010-04-17  0.00  70.0
93   94  USC00519397  2010-04-18  0.00  71.0
94   95  USC00519397  2010-04-19  0.00  74.0
95   96  USC00519397  2010-04-20  0.04  71.0
96   97  USC00519397  2010-04-21  0.01  75.0
97   98  USC00519397  2010-04-22  0.00  76.0
98   99  USC00519397  2010-04-23  0.02  75.0
99  100  USC00519397  2010-04-24  0.00  75.0

[100 rows x 5 columns]

In [26]:
prcp_df = Measurement_df[['date', 'station', 'prcp']].fillna(0)
prcp_df['station'].unique()

array(['USC00519397', 'USC00513117', 'USC00514830', 'USC00517948',
       'USC00518838', 'USC00519523', 'USC00519281', 'USC00511918',
       'USC00516128'], dtype=object)

In [ ]:
prcp_grp = prcp_df.groupby()

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

![precipitation](Images/precipitation.png)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`